<h1>All about <%= @book.title %></h1>
<ul>
  <li><b>Title: </b><%= @book.title %></li>
  <li><b>Description: </b><%= @book.description %></li>
  <li><b>ISBN Number: </b><%= @book.isbn %></li>
</ul>
<a href="/books">Collection</a>
<a href="/books/<%= @book.id %>/edit">Edit</a>
